.title {
  font-size: 3rem;
  font-weight: bold;
  font-weight: 500;
}

.desc {
  text-align: center;
  padding: 0.5rem;
  font-style: italic;
  color: rgb(53, 53, 53);
  font-weight: 400;
}

.productForm {
  display: flex;
  flex-direction: column;
}

.nameInput, .priceInput {
  outline: none;
  padding: 1rem;
  font-size: 1rem;
  border: 1px solid #3A3A3A;
  border-radius: 5px;
  margin-bottom: 1rem;
}

.btnContainer {
  display: flex;
  gap: 1rem;
}

.submitBtn {
  height: 40px;
  width: 90px;
  background-color: rgb(0, 219, 0);
  outline: none;
  border: none;
  transition: 0.5s;
  cursor: pointer;
  font-weight: bold;
  color: #fff;
  padding: 0.5rem;
  border-radius: 8px;
}

.showProductsBtn {
  height: 40px;
  padding: 0.5rem;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: 0.5s;
  background-color: rgb(62, 62, 62);
  border: none;
  outline: none;
  border-radius: 8px;
}

.showProductsBtn:hover {
  transform: scale(1.1);
  background-color: rgb(48, 48, 48);
}

.submitBtn:hover {
  transform: scale(1.1);
  background-color: rgb(0, 174, 0);
}