* {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 100vh;
  margin: 0 auto;
  padding: 2rem;
}

.formContainer {
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  width: 100%;
}